body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    line-height: 21px;
    color: #001435;
    font-family: pp-open-regular, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-display: swap;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #F7F0E3;
    text-align: center;
   
}
h1{
    color: brown;
}
form {
    text-align: center;


}

input[type="email"],
input[type="password"] {
    width: 350px; 
    height: 50px;
    padding: 10px; 
    margin-bottom: 20px;
    font-size: 18px; 
}

input{
    width: 350px; 
    height: 50px;
    padding: 10px; 
    margin-bottom: 20px;
    font-size: 18px; 
}
select {
    width: 380px;
    height: 70px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #001435;
    border-radius: 10px;
    background-color: #fff;
    color: #001435;
    -webkit-appearance: none; /* For Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For other browsers */
     background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 5" width="10" height="5"><path fill="%23000" d="M0 0l5 5 5-5H0z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}


button {
    width: 380px;
    height: 55px;
    padding: 0.75rem 2rem;
    border: 0.0625rem solid #001435;
    display: inline-block;
    background-color: #8A846E;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 auto;
    color: #001435;
    font-size: 1.06666667em;
    text-align: center;
    font-weight: 500;
    text-shadow: none;
    text-decoration: none;
}

.contentContainer {
    position: relative;
    margin: 130px auto auto; 
    padding: 70px ;
    margin-bottom: 200px;
    border: 10px solid #4d3d3d; 
    border-radius: 10px; 
    background-color: #c0ae7d;
    width: 400px; 
    height: 650px;
}
.btnSecundario{
   
   
    background-color: 8A846E;



    color: #001435;
    border: 0.0625rem solid #001435;
}

   
.contentContainer2 {
    position: relative;
    margin: 130px auto auto; 
    padding: 70px ;
    margin-bottom: 200px;
    border: 10px solid #4d3d3d; 
    border-radius: 10px; 
    background-color: #c0ae7d;
    width: 400px; 
    height: 930px;
}
   
   







image{
width: 10px;

}


   
   
   
   
   
   
   
   
   
   
   
   









